<footer class="">
  <data class="" href="{{ "/" | relative_url }}"></data>

  <div class="">

    <div class="">
      <div class="">
        <p class="">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Feed</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="">
          {% if site.author.name -%}
            <li class="">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="">
      {%- include social.html -%}
    </div>

  </div>

</footer>
