<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="navigation menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{{ site.url }}/assets/images/logo.svg" width="100" height="100"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation menu">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/about/"><i class="far fa-id-badge"></i>&nbsp;About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-flask"></i>&nbsp;Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/"><i class="far fa-newspaper"></i>&nbsp;Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-paper-plane"></i>&nbsp;Contact</a>
        </li>
      </ul>
      <form>
       <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
   </div>
  </div>
</nav>
