input.form-control, input.form-control:active, input.form-control:focus {
  background-color: #181c2a;
  border: 2px solid #4ce232;
  border-radius: 12px;
  color: #dedede;
}

.nav-item {
  border-top: 2px solid #181c2a;
}

.nav-item:hover {
  color: #dedede;
  border-top: 2px solid #dedede;
  transition-duration: 700ms;
  transition-timing-function: ease-in;
}

.navbar-dark {
  background-color: #181c2a !important;
}

.fa-id-badge, .fa-flask, .fa-newspaper, .fa-paper-plane {
  color: #4ce232;
}
